# SPDX-FileCopyrightText: 2024 Infineon Technologies AG
#
# SPDX-License-Identifier: MIT

[submodule "external/optiga-trust-m"]
	path = external/optiga-trust-m
	url = https://github.com/Infineon/optiga-trust-m.git
